@import '../common';

.gutenberg {
	.container {
		border: 1px solid $gray;
		padding: 1rem;
	}

	.button-container {
		text-align: center;
		padding: 22% 0;
		background: $off-white;
		border: 1px solid $gray;
		border-radius: 2px;
		margin: 0 0 1.2rem 0;
	}

	.heading {
		font-family: 'Permanent Marker', cursive;
		color: #252525;
		font-weight: bold;
		font-size: 2.4em;
		line-height: 1;
		background: #00fef6;
		padding: 0.05em 0.3em 0.1em 0.15em;
		display: inline-block;
		-webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	}

	.image {
		height: 15.7rem;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
