/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker');

.wp-block-card-block-main.card {
	box-shadow: 0 15px 35px rgba(120, 32, 188, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	overflow: hidden;

	.card__image {
		width: 100%;
	}

	.card__content {
		padding: 0.5em 1em;
		transform: translatey(-45px);

		.card__title {
			font-family: 'Permanent Marker', cursive;
			color: #252525;
			font-weight: bold;
			font-size: 2.8em;
			line-height: 1;
			background: #00fef6;
			padding: 0.05em 0.3em 0.1em 0.15em;
			display: inline-block;
			box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		}

		.card__body p {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.15em;
		}
	}
}
